@media (max-width:1440px){
    .wrapper{
        max-width:1050px;
        width:100%;
    }
}
@media (max-width:1024px){
    .wrapper{
        max-width:640px;
        width:100%;
    }
}
@media (max-width:768px){
    .wrapper{
        max-width:none;
        width:90%;
    }
    .main-navbar {
        min-width: 100%;
    }
    .expand__sidebar{
        display: none;
    }
    .personal-information__personal-data__headlines{
        margin: 0 62px 0 0;
    }
    .main-content{
        padding:0;
    }
    .sidebar{
        right:-312px;
        left:auto;
    }
    .sidebar__active{
        right:0;
        left:auto;
    }
    .dropdown-button{
        display:none;
    }
    .dropdown-button-mini{
        display:block;
        border:1px solid #86C9D1;
        border-radius:100px;
        position: relative;
        top:15px;
        padding:10px 14px;
    }
    .personal-information__personal-data {
        justify-content: center;
    }
    .main-navbar__first-child__dropdown{
        margin:0;
    }
    .main-navbar__first-second__buttons a:nth-child(2){
        display:none;
    }
    .main-navbar__first-second__buttons{
        position: relative;
    }
    .main-navbar__first-second__buttons a:nth-child(3) {
        top: 6px;
        margin-left:15px;
        margin-right:60px;
    }
    .navbar-burger{
        display:block;
        position:relative;
        content:' ';
        height: 2px;
        width:20px;
        background:#fff;
        right:-165px;
        top:-10px;
        cursor:pointer;
    }
    .navbar-burger__active{
        right:132px;
        transform: rotate(45deg);
        height: 2px;
        width:25px;
    }
    .navbar-burger::before{
        display:block;
        position:relative;
        content:' ';
        height: 2px;
        width:20px;
        background:#fff;
        right:0;
        top:-8px;
    }
    .navbar-burger::after{
        display:block;
        position:relative;
        content:' ';
        height: 2px;
        width:20px;
        background:#fff;
        right:0;
        top:6px;
    }
    .navbar-burger__active::before{
        display:none !important;
    }
    .navbar-burger__active::after{
        transform: rotate(90deg);
        right:0;
        top:0;
        height: 2px;
        width:25px;
    }

}
@media (max-width:426px){
    .wrapper{
        max-width:none;
        width:95%;
    }
    .main-navbar__first-child__rating{
        left:10px;
    }
    .main-navbar__first-second__buttons a:nth-child(3) {
        top: 6px;
        margin-left:5px;
        margin-right:50px;
    }
    .navbar-burger{
        right:-145px;
    }
    .navbar-burger__active{
        right:150px;
        z-index: 20;
    }
    .main-navbar__first-child__dropdown{
        position:relative;
        left:0;
    }
    .main-navbar__first-child__dropdown__active{
        left:-300px;
    }
    .profile-menu__personal, .profile-menu__purchase-history, .profile-menu__referral-system{
        font-size:11px;
        text-align: center;
    }
    .personal-information__personal-data__headlines{
        margin:0;
    }
    .personal-information__personal-data__headlines p{
        font-size:16px;
    }
    .personal-login, .personal-email, .personal-phone, .personal-telegram, .personal-discord, .personal-password{
        margin:18px 0 18px 20px;
    }

    .personal-information__personal-data__units input,.personal-information__personal-data__units input::placeholder{
        font-size:16px;
    }
    .purchase-history__unit__description{
        flex-direction: column;
    }
    .purchase-history__unit__description__text {
        width:auto;
        margin: 0 0 0 0;
    }
    .purchase-history__unit__description__text h2 {
        font-size: 25px;
    }
    .purchase-history__unit__description__text p{
        font-size:14px;
    }
    .main-navbar__first-child__rating{
        display:none;
    }
    .sidebar__services{
        padding-bottom: 40px;
    }
    .sidebar__change-theme__button{
        top:-1px;
    }
    .sidebar__services__elements p,.sidebar__menu__elements p,.sidebar__change-theme p{
        font-size:14px;
    }
    .sidebar__services__elements svg,.sidebar__menu__elements svg{
        height:18px;
        width:18px;
    }

}
@media (max-width:376px){
    .main-navbar__first-child__rating{
        display:none;
    }
    .persona-information__main__image {
        margin-right: 6px;
    }
    .personal-information__personal-data__headlines p {
        font-size: 12px;
    }
    .personal-information__personal-data__units input, .personal-information__personal-data__units input::placeholder {
        font-size: 12px;
    }
    .personal-login, .personal-email, .personal-phone, .personal-telegram, .personal-discord, .personal-password {
        margin: 15px 0 0 15px;
    }
}
