@media (max-width:1440px){
    .wrapper{
        max-width:1050px;
        width:100%;
    }
}
@media (max-width:1024px){
    .wrapper{
        max-width:none;
        width:90%;
    }
    .shopping-cart__basket-description__second p {
        margin-right: 80px;
    }
    .shopping-cart__basket-units__one__name, .shopping-cart__basket-units__one__price, .shopping-cart__basket-units__one__total,.shopping-cart__basket-units__one__name-adaptive {
        font-size: 16px;
        font-weight:400;
    }
    .shopping-cart__basket-units__one__price,.shopping-cart__basket-units__one__total{
        font-size:20px;
    }
    .shopping-cart__basket-units__one__price,.adaptive-shopping-cart__unit-total p {
        margin: 42px 0 40px 0;
    }
    .shopping-cart__basket-units__one__name,.shopping-cart__basket-units__one__name-adaptive {
        margin:36px 0 37px 0;
    }
    .shopping-cart__basket-units__one__total{
        width: 83px;
    }
    .product-card__text__description p,.checkbox-text,.radio-text{
        font-size:14px;
    }
    .stlradio,.stlcheckbox{
        margin:3px 0 0 0;
    }
    .product-customization__quantity__range{
        width: 900px;
    }
    .product-customization__quantity__range__active {
        position: relative;
    }
    .product-footer__slider .next__arrow {
        right: 30px;
    }
    .product-footer__slider__unit {
        margin-right: 65px;
    }
    .catalog-search__input input {
        width: 96%;
    }
    .catalog-search__input button {
        right: 0;
    }
    .catalog-buttons__button {
        font-size: 12px;
    }
    .catalog-cards__unit {
        margin-right: 3px;
    }
    .catalog-buttons {
        justify-content: center;
    }
    .shopping-cart__basket__forms{
        flex-direction: column;
    }
    .shopping-cart__basket__forms__chat, .shopping-cart__basket__forms__promo-code, .shopping-cart__basket-total {
        width:411px;
        margin: 0 auto;
    }
    .shopping-cart__basket-total {
        margin: 70px auto 40px auto;
    }
    .choice__block__unit {
        max-width: 370px;
    }
    .welcome__button__link{
        min-width: 100px;
    }
    .welcome__button::before, .welcome__button::after {
        width: 300px;
    }
    .review {
        margin-top: 50px;
    }
    .guarantees-slider__wrapper {
        max-width: 1150px;
        width: 82%;
        margin: 0 auto;
    }
    .guarantees-review__slider-slide {
        margin: 0px 10px;
    }
    .guarantees-review__slider .next__arrow{
        right: -80px;
    }
    .review__slider__slide {
        Width: 265px;
        Height: 285px;
    }
    .jobs-form__text{
        display:flex;
        flex-direction:column;
    }
    .jobs-form__box__text-inputs,.jobs-form__box__text-area{
        width:100%;
    }
    .jobs-form__box__text-area textarea{
        width:94%
    }
    .jobs-form__box__text-inputs {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin:0 0 100px 0;
    }
    .jbsfrm__button {
        padding: 10px 92px;
    }
}
@media (max-width:768px){
    .wrapper{
        max-width:none;
        width:90%;
    }
    .main-navbar {
        min-width: 100%;
    }
    .expand__sidebar{
        display: none;
    }
    .personal-information__personal-data__headlines{
        margin: 0 62px 0 0;
    }
    .main-content{
        padding:0;
    }
    .sidebar{
        right:-312px;
        left:auto;
    }
    .sidebar__active{
        right:0;
        left:auto;
    }
    .dropdown-button{
        display:none;
    }
    .dropdown-button-mini{
        display:block;
        border:1px solid #86C9D1;
        border-radius:100px;
        position: relative;
        top:15px;
        padding:10px 14px;
    }
    .personal-information__personal-data {
        justify-content: center;
    }
    .main-navbar__first-child__dropdown{
        margin:0;
    }
    .main-navbar__first-second__buttons a:nth-child(2){
        display:none;
    }
    .main-navbar__first-second__buttons{
        position: relative;
    }
    .main-navbar__first-second__buttons a:nth-child(3) {
        top: 6px;
        margin-left:15px;
        margin-right:60px;
    }
    .navbar-burger{
        display:block;
        position:relative;
        content:' ';
        height: 2px;
        width:20px;
        background:#fff;
        right:-165px;
        top:-10px;
        cursor:pointer;
    }
    .navbar-burger__active{
        right:132px;
        transform: rotate(45deg);
        height: 2px;
        width:25px;
    }
    .navbar-burger::before{
        display:block;
        position:relative;
        content:' ';
        height: 2px;
        width:20px;
        background:#fff;
        right:0;
        top:-8px;
    }
    .navbar-burger::after{
        display:block;
        position:relative;
        content:' ';
        height: 2px;
        width:20px;
        background:#fff;
        right:0;
        top:6px;
    }
    .navbar-burger__active::before{
        display:none !important;
    }
    .navbar-burger__active::after{
        transform: rotate(90deg);
        right:0;
        top:0;
        height: 2px;
        width:25px;
    }
    .footer__rights{
        flex-direction: column;
        text-align:center;
    }
    .shopping-cart__basket-units__one__name{
        display: none;
    }
    .shopping-cart__basket-units__one__name-adaptive{
        display:block;
    }
    .shopping-cart__basket__forms__chat,.shopping-cart__basket__forms__promo-code,.shopping-cart__basket-total{
        width:411px;
        margin:0 auto 0 auto;
    }
    .shopping-cart__basket-total{
        margin:70px auto 40px auto;
    }
    .shopping-cart__basket__forms{
        flex-direction: column;
    }
    .shopping-cart__basket-check{
        justify-content:center;
    }
    .shopping-cart__basket-units__one__name-adaptive{
        margin: 36px 0 37px 3px;
    }
    .product-information {
        width: 100%;
        margin-top: 64px;
    }
    .product-footer__slider__unit {
        margin-right: 90px;
    }
    .product-card__image__nav{
        text-decoration:none;
    }
    .catalog-cards__unit {
        margin-right: 20px;
    }
    .main-info__background__picture {
        width: 100%;
    }
    .main-info__scroll-button a {
        left:45%
    }
    .choice__block__unit {
        max-width: 250px;
    }
    .game__slider__slide, .game__slider__slide img {
        width: 243px;
        height: 224px;
    }
    .game__slider__slide .slick-current img {
        width: 356px;
        height: 342px;
    }
    .game__slider .slick-list{
        height: 343px;
    }
    .hot-deals__cards__slider__slide img {
        width: 330px;
        height: 370px;
    }
    .hot-deals__cards__slider .next__arrow {
        display: none !important;
    }
    .why-we__block {
        flex-wrap: wrap;
    }
    .welcome__button::before, .welcome__button::after {
        width: 200px;
    }
    .review__slider .slick-current {
        width: 356px;
        height: 342px;
    }
    .review__slider__slide,.review__slider__first__slide {
        Width: 243px;
        Height: 224px;
    }
    .review__slider__slide__description p {
        max-height:50px;
        overflow:hidden;
    }
    .slick-current .review__slider__slide__description p{
        margin: 10px 0;
        max-height:100%;
    }
    .guarantees-review__slider .slick-arrow{
        display:none !important;
    }
    .guarantees-review__slider-slide .review__slider__slide__description p {
        max-height: 100%;
    }
    .guarantees-review__slider-slide {
        Width: 300px;
        Height: 251px;
    }
    .trust__description{
        display:flex;
        flex-wrap:wrap;
        margin: 0 0 150px 0;
    }
    .trust__background__picture {
        height: 100%;
    }
    .trust__description-unit{
        margin: 0 0 50px 0;
        width:100%;
    }
    .trust__description-unit__title{
        display:flex;
    }
    .trust__description-unit__title img{
        width:53px;
        height:63px;
    }
    .trust__description-unit__title h5{
        margin:20px 0 20px 15px;
    }
    .guarantees-review__slider-slide {
        width: 340px;
    }
    .guarantees-payments__units {
        margin-top: 50px;
    }
    .guarantees-review__description h5, .guarantees-payments__description h5, .guarantees-question__description h5 {
        font-size: 20px;
    }
    .guarantees-review__description h2, .guarantees-payments__description h2, .guarantees-answers__description h2, .guarantees-question__description h2 {
        font-size: 32px;
    }
    .guarantees-answers__description-buttons{
        display:flex;
    }
    .guarantees-answers__description-buttons a {
        margin: 0 5px;
    }
    .guarantees-answers__units-answer h5, .guarantees-answers__units-answer p {
        font-size: 16px;
    }
    .jobs-form__choose-position__unit {
        margin: 0 5px;
    }
    .chsposition {
        padding: 12px 25px;
    }
    .jobs-form__choose-game__select {
        flex-wrap: wrap;
    }
    .jobs-form__choose-game__select label {
        margin: 10px 20px;
    }
    .jbsfrm__button {
        padding: 10px 48px;
    }
    .jobs-form__box__text-area textarea {
        width: 93%;
    }
}
@media (max-width:426px){
    .wrapper{
        max-width:none;
        width:95%;
    }
    .main-navbar__first-child__rating{
        left:10px;
    }
    .main-navbar__first-second__buttons a:nth-child(3) {
        top: 6px;
        margin-left:5px;
        margin-right:50px;
    }
    .navbar-burger{
        right:-145px;
    }
    .navbar-burger__active{
        right:150px;
        z-index: 20;
    }
    .main-navbar__first-child__dropdown{
        position:relative;
        left:0;
    }
    .main-navbar__first-child__dropdown__active{
        left:-300px;
    }
    .profile-menu__personal, .profile-menu__purchase-history, .profile-menu__referral-system{
        font-size:11px;
        text-align: center;
    }
    .personal-information__personal-data__headlines{
        margin:0;
    }
    .personal-information__personal-data__headlines p{
        font-size:16px;
    }
    .personal-login, .personal-email, .personal-phone, .personal-telegram, .personal-discord, .personal-password{
        margin:18px 0 18px 20px;
    }

    .personal-information__personal-data__units input,.personal-information__personal-data__units input::placeholder{
        font-size:16px;
    }
    .purchase-history__unit__description{
        flex-direction: column;
    }
    .purchase-history__unit__description__text {
        width:auto;
        margin: 0 0 0 0;
    }
    .purchase-history__unit__description__text h2 {
        font-size: 25px;
    }
    .purchase-history__unit__description__text p{
        font-size:14px;
    }
    .main-navbar__first-child__rating{
        display:none;
    }
    .sidebar__services{
        padding-bottom: 40px;
    }
    .sidebar__change-theme__button{
        top:-1px;
    }
    .sidebar__services__elements p,.sidebar__menu__elements p,.sidebar__change-theme p{
        font-size:14px;
    }
    .sidebar__services__elements svg,.sidebar__menu__elements svg{
        height:18px;
        width:18px;
    }
    .shopping-cart__basket-description{
        display:none;
    }
    .shopping-cart__basket-units__one__price, .adaptive-shopping-cart__unit-total p {
        margin: 0 0 40px 0;
    }
    .shopping-cart__basket-units__one__description{
        display:block;
        margin: 5px 0 40px 0 !important;
    }
    .shopping-cart__basket-units__one__total{
        margin: 0 -50px 40px 0 !important;
    }
    .shopping-cart__basket-units__one__second{
        flex-direction: column;
    }
    .shopping-cart__basket-units__one__total {
        width: 114px;
    }
    .shopping-cart__consider {
        margin: 0 0 28px 0;
    }
    .shopping-cart__svg__first{
        width:auto;
        margin: 14px 0 42px 0;
    }
    .shopping-cart__basket-units__one__price{
        width:auto;
        margin: 10px 0 40px 0;
    }
    .shopping-cart__svg__second {
        margin: 34px 0 40px 0;
    }
    .adaptive-shopping-cart__unit-quantity{
        justify-content: space-between;
    }
    .shopping-cart__basket-units__one__second{
        padding:0 20px;
    }
    .shopping-cart__basket-units__one{
        border-bottom:1px solid #30302F;
    }
    .shopping-cart__basket__forms__chat,.shopping-cart__basket__forms__promo-code,.shopping-cart__basket-total{
        width:400px;
    }
    .shopping-cart__basket__payment{
        text-align:center;
    }
    .shopping-cart__basket__payment__units {
        justify-content: center;
    }
    .shopping-cart__basket__payment__button {
        margin-right: 0;
    }
    .product-customization__quantity__range {
        width: 380px;
        padding:0;
    }
    .product-card{
        flex-direction: column;
    }
    .product-information__hidden {
        left: 0;
    }
    .product-customization__platform__unit {
        margin-right: 0;
    }
    .product-quantity {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
    .product-footer__slider__unit{
        margin: 0 10px;
    }
    .product-footer__slider .next__arrow {
        right: 0;
    }
    .product-card__text{
        margin:40px 0 0 0;
    }
    .product-card__image {
        margin: 0 auto;
    }
    .product-description h2,.catalog-description h2{
        font-size:32px;
    }
    .product-information__title h2 {
        font-size: 24px;
    }
    .product-information__title p,.product-information__text li  {
        font-size: 14px;
    }
    .product-information__text{
        margin: 60px 0 80px 0;
    }
    .product-footer__slider .slick-list {
        width:100%;
    }
    .product-footer__slider .next__arrow {
        display:none !important;
    }
    .catalog, .product {
        margin: 100px 0;
    }
    .product-quantity__coast__name p{
        margin: 7px 0;
    }
    .product-quantity__coast__name p,.product-quantity__coast__value input{
        font-size:20px;
    }
    .menu-item__dropdown{
        width: 74px;
    }
    .catalog-search__input input {
        width: 91%;
    }
    .catalog-search__input button {
        right: 10px;
    }
    .catalog-buttons__button {
        font-size: 10px;
    }
    .catalog-buttons {
        justify-content: flex-start;
    }
    .catalog-cards__unit {
        width: 194px;
        margin-right: 0;
    }
    .catalog-cards__unit img{
        width: 194px;
    }
    .catalog-cards__offer-of-the-day__information, .catalog-cards__discount__information{
        width:100%;
    }
    .catalog-cards {
        justify-content: space-between;
    }
    .search-box button{
        right: 20px;
    }
    .search-result__unit h3{
        font-size:20px;
    }
    .search-result__unit p{
        font-size:14px;
    }
    .authorization-form {
        padding: 65px 20px;
    }
    .authorization-form__links a {
        font-size:20px;
    }
    .authorization-form input{
        width: 300px;
    }
    .authorization-form__buttons a,.authorization-form__sign-in-gmail__buttons a{
        font-size:20px;
    }
    .authorization-form__buttons svg{
        top:10px;
    }
    .main-info__logo h1{
        width:100%;
        font-size:54px;
        line-height: 54px;
        margin:30px 0 0 0;
    }
    .main-info__description{
        width:100%;
    }
    .main-info__description h4{
        font-size:16px;
    }
    .choice__blocks {
        justify-content: center;
        flex-direction: column;
    }
    .choice__block__unit {
        margin:0 0 30px 0;
        max-width: 90%;
    }
    .section__description h2 {
        font-size: 40px;
    }
    .choice__search {
        margin-top: 50px;
    }
    .choice__game__description,.hot-deals__description{
        flex-direction: column;
    }
    .choice__game__description__button, .hot-deals__description__button, .review__button{
        top: auto;
        left: auto;
        margin:0 0 10px 0;
    }
    .game__slider__elements img,.slick-track .slick-current .game__slider__slide {
        width: 356px;
        height: 341px;
    }
    .game__slider__elements {
        margin-left: 8px;
    }
    .game__slider .slick-arrow{
        display:none !important;
    }
    .hot-deals__cards__slider__slide img {
        width: 330px;
        height: 370px;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .hot-deals__cards__slider__slide {
        margin: 0 20px;
    }
    .hot-deals__cards__slider .slick-list {
        position: relative;
        left: 23px;
    }
    .why-we__block {
        display: flex;
        justify-content: flex-start;
    }
    .why-we__block__unit{
        width:95%;
    }
    .why-we__block__unit__title{
        display:flex;
    }
    .why-we__block__unit__title h5{
        margin: auto 0 auto 30px;
    }
    .welcome__description {
        margin-top: 50px;
    }
    .welcome__button::before{
        left:0;
    }
    .welcome__button::after{
        right:0;
    }
    .welcome__button::before, .welcome__button::after {
        width: 110px;
    }
    .review__slider .slick-slide {
        margin-right: 14px;
    }
    .review__slider .slick-arrow{
        display:none !important;
    }
    .review__slider .slick-list{
        position: relative;
        left:10px;
    }
    .review{
        display:flex;
        flex-direction: column;
    }
    .welcome__text__block{
        font-size:20px;
    }
    .hot-deals__button{
        font-size:12px;
    }
    .trust__description{
        flex-direction: column;
        justify-content: flex-start;
        width:100%;
    }
    .jobs-form__choose-game__select label {
        margin: 10px 17px;
    }
    .jobs-form__choose-game {
        margin: 0 0 20px 0;
    }
    .jobs-form__choose-position{
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .chsposition {
        padding: 12px 50px;
        margin: 10px 0;
    }
    .chsposition-promoter{
        padding: 12px 44px;
    }
    .jobs-form__description h4 {
        width: 100%;
    }
    .slider__wrapper{
        width:95%;
    }
    .trust__main-info h2 {
        font-size: 32px;
    }
    .trust__main-info p {
        font-size: 20px;
    }
    .main-info__scroll-button a {
        left: 43%;
    }
    .jobs-form__box__text-area textarea {
        width: 89%;
    }
    .jobs-form__box__text-area p{
        font-size:16px;
    }
    .jobs-form__box__text-inputs span{
        font-size: 16px;
    }
    .jobs-form__box__text-inputs label {
        width: 100%;
        margin:30px 0 0 0;
    }
    .jbsfrm__button {
        padding: 10px 123px;
    }
}
@media (max-width:376px){
    .main-navbar__first-child__rating{
        display:none;
    }
    .persona-information__main__image {
        margin-right: 6px;
    }
    .personal-information__personal-data__headlines p {
        font-size: 12px;
    }
    .personal-information__personal-data__units input, .personal-information__personal-data__units input::placeholder {
        font-size: 12px;
    }
    .personal-login, .personal-email, .personal-phone, .personal-telegram, .personal-discord, .personal-password {
        margin: 15px 0 0 15px;
    }
    .product-quantity__consider__element,.shopping-cart__consider{
        width: 85px;
    }
    .shopping-cart__basket__forms__chat,.shopping-cart__basket__forms__promo-code,.shopping-cart__basket-total{
        width:352px;
    }
    .shopping-cart__basket__forms__promo-code input {
        width: 47%;
        margin: 0 10px 28px 24px;
    }
    .product-customization__quantity__range {
        width: 325px;
    }
    .catalog-way a, .product-way a, .trust-way a {
        margin: 0 5px;
    }
    .product-customization__platform__unit p, .product-customization__platform__unit__button span, .catalog-way a, .product-way a, .trust-way a {
        font-size: 16px;
    }
    .product-customization__platform__unit__activator {
        cursor: pointer;
        padding: 10px 0 10px 20px;
    }
    .product-customization__platform__unit__description {
        padding: 10px 20px 10px 20px;
    }
    .product-card__image__nav .next__arrow {
        right: -7px;
    }
    .dropdown-content{
        width:375px;
        left: -5px;
    }
    .catalog-cards__unit {
        width: 172px;
        margin-right: 0;
    }
    .catalog-cards__unit img{
        width: 172px;
    }
    .catalog-cards__unit__description__name p,.catalog-cards__unit__description__information p,.catalog-cards__unit__description__information__button{
        font-size: 14px;
    }
    .catalog-search__input input {
        width: 90%;
    }
    .catalog-search__input input::placeholder{
        width:80%;
    }
    .catalog-buttons__button {
        margin: 4px 0;
    }
    .catalog-search__input input {
        width: 80%;
    }
    .search-box button{
        right: 40px;
    }
    .authorization-form input {
        width: 265px;
    }
    .hot-deals__cards__slider__slide img {
        width: 330px;
        height: 370px;
    }
    .slider__wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .hot-deals__cards__slider .slick-list {
        left: 0;
    }
    .review__slider .slick-current {
        width: 326px;
        height: 330px;
    }
    .slick-current .review__slider__slide__description h5 {
        margin: 50px 0;
    }
    .main-info__scroll-button a {
        left: 43%;
    }
    .guarantees-review__slider-slide {
        width: 305px;
    }
    .guarantees-review__slider .review__slider__slide__description h5 {
        margin: 10px 0;
    }
    .guarantees-answers__button {
        padding: 10px 23px;
        font-size: 13px;
    }
    .guarantees-answers__units-answer h5, .guarantees-answers__units-answer p {
        font-size: 14px;
    }
    .answer-arrow {
        position: absolute;
        top: 18px;
        right: 20px;
    }
    .game__slider__elements img,.slick-track .slick-current .game__slider__slide {
        width: 336px;
        height: 321px;
    }
    .chsposition {
        padding: 12px 46px;
        margin: 10px 0;
    }
    .chsposition-promoter {
        padding: 12px 39px;
        margin: 10px 0;
    }
    .jbsfrm__button {
        padding: 10px 92px;
    }
    .trust-way svg {
        margin-top: 4px;
    }
    .jobs-form__box__text-area textarea {
        width: 87%;
    }
}
@media (max-width:320px){
    .navbar-burger__active {
        right: 110px;
    }
    .sidebar{
        width: 270px;
    }
    .purchase-history__unit__button{
        width: 300px;
    }
    .footer__social-networks{
        flex-direction: column;
        text-align:center;
    }
    .footer__social-networks__logo{
        margin-top:20px;
    }
    .dropdown-content{
        width:312px;
    }
    .dropdown-content__search input{
        min-width:260px;
    }
    .shopping-cart__basket-units__one{
        flex-direction: column;
    }
    .shopping-cart__basket-units__one img {
        margin: 0 auto;
    }
    .shopping-cart__svg__second {
        margin: 20px auto;
    }
    .shopping-cart__basket-units__one__description {
        margin: 5px 0 10px 0 !important;
    }
    .shopping-cart__basket-units__one__total {
        margin: 0 -50px 10px 0 !important;
    }
    .shopping-cart__basket__forms__chat,.shopping-cart__basket__forms__promo-code,.shopping-cart__basket-total{
        width:302px;
    }
    .shopping-cart__basket__forms__promo-code input {
        width: 37%;
    }
    .shopping-cart__basket__forms__promo-code {
        height: 200px;
    }
    .product-customization__quantity__range {
        width: 275px;
    }
    .product-card__image{
        width: 310px;
    }
    .product-card__image__slider__slide, .product-card__image__slider__slide img {
        width: 300px;
        height: 300px;
    }
    .product-card__image .slick-list {
        height: 307px;
    }
    .product-card__image__slider__nav img {
        width: 97px;
        height: 95px;
        position: relative;
    }
    .product-card__image__slider__nav{
        width:175px !important;
    }
    .menu-item__dropdown {
        margin-right: 5px;
    }
    .catalog-search__input input {
        width: 85%;
    }
    .catalog-search__input input::placeholder{
        width:75%;
    }
    .catalog-cards {
        justify-content: center;
    }
    .catalog-cards__unit {
        width: 200px;
        margin-right: 0;
    }
    .catalog-cards__unit img{
        width: 200px;
    }
    .catalog-search__input input {
        width: 65%;
    }
    .search-box button{
        right: 70px;
    }
    .authorization-form input {
        width: 210px;
    }
    .main-info__description a:nth-child(3) {
        margin-right: 0;
    }
    .main-info__scroll-button a {
        left: 40%;
    }
    .game__slider__elements img,.slick-track .slick-current .game__slider__slide {
        width: 286px;
        height: 266px;
    }
    .hot-deals__cards__slider__slide{
        width: 275px;
        height: 505px;
    }

    .slide__description {
        padding: 10px 5px;
    }
    .slide__description__button a {
        padding: 13px 80px;
    }
    .rating__stars {
        top: 0;
    }
    .hot-deals__cards__slider__slide img {
        width: 275px;
        height: 320px;
    }
    .why-we {
        margin-top: 50px;
    }
    .review__slider .slick-current {
        width: 276px;
        height: 280px;
    }
    .slick-current .review__slider__slide__description h5 {
        margin: auto 0;
    }
    .guarantees-review__slider-slide {
        width: 255px;
    }
    .review__slider__slide__description h5, .review__slider__slide__description p {
        font-size: 14px;
    }
    .guarantees-answers__button {
        padding: 10px 14px;
    }
    .guarantees-answers__units-answer h5, .guarantees-answers__units-answer p {
        font-size: 12px;
    }
    .answer-arrow {
        position: absolute;
        top: 16px;
        right: 10px;
    }
    .chsposition {
        padding: 12px 34px;
    }
    .chsposition-promoter{
        padding: 12px 27px;
    }
    .jobs-form__box__text-area textarea {
        width: 84%;
    }
    .jbsfrm__button {
        padding: 10px 68px;
    }
}