.trust__background__picture,.jobs__background__picture{
    background-image:url('../img/guarantees/trust.png');
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    z-index:4;
    min-height: 868px;
    height:100vh;
    margin-left: auto;
    box-shadow: inset 81px 0 80px 0 #000;
}
.jobs__background__picture{
    background-image:url('../img/jobs/jobs.png');
}
.trust__scroll-button a{
    position:absolute;
    left:138px;
    bottom:0;
    background-color: #86C9D1;
    padding:24px 14px;
    border:2px solid #86C9D1;
}
.trust__scroll-button a:hover{
    background: none;
    color:#fff;
}
.trust__scroll-button:hover #styled-element{
    stroke: #86C9D1;
}
.trust-way{
    display:flex;
    justify-content: flex-start;
    margin-top:53px;
}
.trust-way svg{
    margin-top:6px;
}
.trust-way a{
    margin:0 15px;
    font-size:20px;
    color:#6B6B6B;
    font-weight:400;
    text-decoration:none;
}
.trust__main-info{
    text-align:center;
}
.trust__main-info h2{
    font-size:50px;
    font-weight:900;
    margin:138px 0 77px 0;
}
.trust__description{
    display:flex;
    justify-content:space-between;
}
.trust__description-unit{
    width:234px;
}
.trust__description-unit h5{
    font-weight: 600;
    font-size: 20px;
    color:#fff;
}
.trust__description-unit p{
    font-weight: 400;
    font-size: 20px;
    color:#D3D0D0;
}
.guarantees-review{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top:140px;
}
.guarantees-review__description,.guarantees-payments__description,.guarantees-answers__description,.guarantees-question__description{
    text-align:center;
}
.guarantees-review__description h2,.guarantees-payments__description h2,.guarantees-answers__description h2,.guarantees-question__description h2{
    font-size:50px;
    font-weight:900;
}
.guarantees-review__description h5,.guarantees-payments__description h5,.guarantees-question__description h5{
    font-size:25px;
    font-weight:600;
}
.guarantees-review__description span{
    color:#86C9D1;
}
.slick-current .review__slider__slide__description h5{
    margin:15px 0;
}
.slick-current .review__slider__slide__description p {
    margin: 10px 0;
}
.review__slider__slide{
    margin:0 10px;
}
.guarantees-review__slider-slide {
    margin:0 55px;
}
.prev__arrow{
    position:absolute;
    top:110px;
    left:-80px;
    z-index:2;
    color:#000;
    width:56px;
    height:56px;
    background: #fff;
    border-radius: 50%;
    text-align:center;
    line-height:50px;
    display:inline-block;
    cursor:pointer;
}
.next__arrow {
    position:absolute;
    top:110px;
    right:-40px;
}
.guarantees-review__slider .next__arrow {
    border:1px solid #fff;
}
.guarantees-review__slider .prev__arrow {
    border:1px solid #fff;
}
.guarantees-review__slider .prev__arrow svg{
    margin-top:18px;
    margin-right: 5px;
    height:20px;
}
.guarantees-review__slider .prev__arrow:hover{
    fill:#86C9D1;
    background:none;
    border:1px solid #86C9D1;
}
.guarantees-review__slider .next__arrow svg{
    margin-top:18px;
    margin-left: 3px;
    height:20px;
}
.guarantees-review__slider .next__arrow:hover{
    fill:#86C9D1;
    background:none;
    border:1px solid #86C9D1;
}
.guarantees-review__slider{
    border-bottom:1px solid rgba(255, 255, 255, 0.15);
    margin-bottom:50px;
}
.guarantees-payments{
    border-bottom:1px solid rgba(255, 255, 255, 0.15);
    padding-bottom:80px;
    margin-bottom:80px;
}
.guarantees-payments__units{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-top:150px;
}
.guarantees-payment-logo{
    width:150px;
    height:45px;
    margin:10px 25px;
}
.guarantees-answers__button{
    padding:10px 30px;
    color:#86C9D1;
    font-size: 13px;
    font-weight:600;
}
.guarantees-answers__description-buttons{
    margin-bottom: 20px;
}
.guarantees-answers__description-buttons a{
    margin:20px 10px;
}
.guarantees-answers__button-active{
    background:#86C9D1;
    color:#000;
}
.guarantees-answers__units{
    display:none;
    margin-top:36px;
}
.guarantees-answers__units-answer{
    cursor:pointer;
    margin:7px 0;
}
.guarantees-answers__units-answer h5{
    background:#fff;
}
.guarantees-answers__units-answer h5,.guarantees-answers__units-answer p{
    margin:0;
    padding:12px 17px;
    font-size:20px;
    font-weight:400;
    color:#000;
    position:relative;
    user-select: none;
}
.answer-arrow{
    position:absolute;
    top:21px;
    right:20px;
}
.answer-hidden {
    padding:0;
    margin:auto;
    visibility: hidden;
    height:0;
    overflow:hidden;
    opacity:0;
    transition:all 0.2s linear;
    background:none;
}
.answer-activate .answer-hidden__active{
    padding: 12px 17px;
    visibility: visible;
    height:auto;
    overflow:visible;
    opacity:1;
    background:#fff;
    margin: 0 0 30px 0;
}
.answer-activate .answer-arrow__active{
    transform: rotate(180deg)
}
.answer-activate .answer-arrow__active path{
    stroke:#000;
}
.guarantees-question{
    margin: 80px 0 200px 0;
}
.guarantees-question__button{
    font-size:17px;
    font-weight:600;
    padding:12px 30px;
}
.guarantees-answers__units-active{
    display:block;
}
.trust__main-info p{
    font-size:25px;
    font-weight:600;
}
.jobs__main-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction:column;
}
.jobs-form__box{
    padding: 172px 0 0 0;
}
.jobs-form__text{
    display:flex;
    justify-content: space-between;
}
.jobs-form__text{
    font-size:20px;
    font-weight:400;
}
.jobs-form__box__text-area,.jobs-form__box__text-inputs{
    width:50%;
}
.jobs-form__box__text-inputs{
    display:flex;
    flex-flow: column wrap;
}

.jobs-form__box__text-inputs label{
    display:flex;
    flex-direction:column;
    width: 40%;
    height: 40%;
    margin-bottom: -16px;
}
.jobs-form__box__text-area textarea{
    resize:none;
    width:577px;
    height:169px;
    border:1px solid #939393;
    border-radius:30px;
    background:#343435;
    outline: none;
    padding:13px 20px;
    font-size:20px;
    color:#fff;
}
.jobs-form__box__text-inputs span{
    margin:20px 0;
}
.jobs-form__box__text-inputs input{
    border:1px solid #939393;
    border-radius:30px;
    background:#343435;
    padding:13px 20px;
    font-size:20px;
    outline: none;
    color:#fff;
    cursor:pointer;
}
.jobs-form__button{
    margin:0 0 132px 0;
}
.jbsfrm__button{
    padding:10px 86px;
    font-size:25px;
    font-weight:600;
    color:#000;
}
.search{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 72px 0 0 0;
}
.search-way{
    margin:57px 0 18px 0;
}
.search-box{
    margin:0 0 53px 0;
}
.search-result__unit{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin:0 0 54px 0;
}
.search-result__unit h3{
    font-size:30px;
    font-weight:900;
}
.search-result__unit p{
    font-size:18px;
    font-weight:400;
    margin:0 0 54px 0;
}

