.profile{
    margin-top:127px;
}
.profile-menu{
    display:flex;
    justify-content:space-between;
    cursor:pointer;
    margin-top:59px;
    margin-bottom:50px;
}
.profile-menu__personal,.profile-menu__purchase-history,.profile-menu__referral-system{
    border-bottom:1px solid #30302F;
    width:100%;
    padding:0 0 19px 0;
    font-size:20px;
    font-weight:400;
}
.profile-menu__personal:hover,.profile-menu__purchase-history:hover,.profile-menu__referral-system:hover{
    color:#86C9D1;
    border-bottom:2px solid #86C9D1;
}
.profile-menu__purchase-history{
    text-align:center;
}
.profile-menu__referral-system{
    text-align:right;
}
.profile-menu__active{
    border-bottom:2px solid #86C9D1;
    color:#86C9D1;
}
.personal,.purchase-history,.referral-system{
    display:none;
}
.personal-active{
    display:block;
}

.persona-information__main svg{
    cursor:pointer;
}
.persona-information__main,.persona-information__main__name{
    display:flex;
}
.persona-information__main__image{
    margin-right: 44px;
}
.persona-information__main__image,.persona-information__main__image img{
    position:relative;
}
.persona-information__main__image svg{
    position:absolute;
    bottom:0;
    right:15px;
}
.persona-information__main__full-name{
    margin:35px 0;
}
.persona-information__main__full-name h4,.persona-information__main__full-name p{
    margin:0;
}
.persona-information__main__full-name h4{
    font-size:25px;
    font-weight:600;
    color:#86C9D1;
}
.persona-information__main__full-name svg{
    margin-left:25px;
}
.persona-information__main__full-name p{
    font-size:15px;
    font-weight:400;
    color:#6B6B6B;
}
.personal-information{
    margin-bottom:500px;
}
.personal-information__personal-data{
    display:flex;
    margin:82px 0 0 0;
    position:relative;
}
.personal-information__personal-data__headlines{
    margin:0 62px;
}
.change-password p,.change-login,.success-login,.change-email,.success-email,.change-phone,.success-phone,.change-telegram,.success-telegram,.change-discord,.success-discord{
    cursor:pointer;
    height:23px;
}
.personal-data-active{
    display:none;
}
.personal-information__personal-data__headlines p{
    margin:21px 0;
    font-size:20px;
    font-weight:600;
}
.personal-login,.personal-email,.personal-phone,.personal-telegram,.personal-discord,.personal-password{
    display:flex;
    margin:23px 0;
}
.personal-information__personal-data__units input{
    border:none;
    outline:none;
    background:none;
    padding:0;
    color:#767575;
    font-size:20px;
    font-weight:400;
}
.personal-information__personal-data__units input::placeholder{
    padding:0;
    color:#767575;
    font-size:20px;
    font-weight:400;
}
.change-password p{
    margin:0;
    color:#86C9D1;
    font-size:20px;
    font-weight:400;
}
.personal-information__change-password{
    display:none;
    position:absolute;
}
.change-password__active{
    display:block;
}
.personal-information__change-password__form{
    display:flex;
    flex-direction:column;
    margin:0 62px;
}
.personal-information__change-password__form input{
    background:none;
    border:1px solid #CDC8D1;
    border-radius:100px;
    color:#CDC8D1;
    font-size: 15px;
    font-weight:400;
    max-width:190px;
    outline: none;
    padding:17px 17px;
    margin:7px;
}
.password-save__button{
    font-size: 20px;
    font-weight:700;
    color:#000;
    text-align:center;
    max-width:253px;
    margin-top:65px;
    padding:15px 0;
}
