.profile{
    margin-top:127px;
}
.profile-menu{
    display:flex;
    justify-content:space-between;
    cursor:pointer;
    margin-top:59px;
    margin-bottom:50px;
}
.profile-menu__personal,.profile-menu__purchase-history,.profile-menu__referral-system{
    border-bottom:1px solid #30302F;
    width:100%;
    padding:0 0 19px 0;
    font-size:20px;
    font-weight:400;
}
.profile-menu__personal:hover,.profile-menu__purchase-history:hover,.profile-menu__referral-system:hover{
    color:#86C9D1;
    border-bottom:2px solid #86C9D1;
}
.profile-menu__purchase-history{
    text-align:center;
}
.profile-menu__referral-system{
    text-align:right;
}
.profile-menu__active{
    border-bottom:2px solid #86C9D1;
    color:#86C9D1;
}
.personal,.purchase-history,.referral-system{
    display:none;
}
.personal-active{
    display:block;
}

.persona-information__main svg{
    cursor:pointer;
}
.persona-information__main,.persona-information__main__name{
    display:flex;
}
.persona-information__main__image{
    margin-right: 44px;
}
.persona-information__main__image,.persona-information__main__image img{
    position:relative;
}
.persona-information__main__image svg{
    position:absolute;
    bottom:0;
    right:15px;
}
.persona-information__main__full-name{
    margin:35px 0;
}
.persona-information__main__full-name h4,.persona-information__main__full-name p{
    margin:0;
}
.persona-information__main__full-name h4{
    font-size:25px;
    font-weight:600;
    color:#86C9D1;
}
.persona-information__main__full-name svg{
    margin-left:25px;
}
.persona-information__main__full-name p{
    font-size:15px;
    font-weight:400;
    color:#6B6B6B;
}
.personal-information{
    margin-bottom:500px;
}
.personal-information__personal-data{
    display:flex;
    margin:82px 0 0 0;
    position:relative;
}
.personal-information__personal-data__headlines{
    margin:0 62px;
}
.change-password p,.change-login,.success-login,.change-email,.success-email,.change-phone,.success-phone,.change-telegram,.success-telegram,.change-discord,.success-discord{
    cursor:pointer;
    height:23px;
}
.personal-data-active{
    display:none;
}
.personal-information__personal-data__headlines p{
    margin:21px 0;
    font-size:20px;
    font-weight:600;
}
.personal-login,.personal-email,.personal-phone,.personal-telegram,.personal-discord,.personal-password{
    display:flex;
    margin:23px 0;
}
.personal-information__personal-data__units input{
    border:none;
    outline:none;
    background:none;
    padding:0;
    color:#767575;
    font-size:20px;
    font-weight:400;
}
.personal-information__personal-data__units input::placeholder{
    padding:0;
    color:#767575;
    font-size:20px;
    font-weight:400;
}
.change-password p{
    margin:0;
    color:#86C9D1;
    font-size:20px;
    font-weight:400;
}
.personal-information__change-password{
    display:none;
    position:absolute;
}
.change-password__active{
    display:block;
}
.personal-information__change-password__form{
    display:flex;
    flex-direction:column;
    margin:0 62px;
}
.personal-information__change-password__form input{
    background:none;
    border:1px solid #CDC8D1;
    border-radius:100px;
    color:#CDC8D1;
    font-size: 15px;
    font-weight:400;
    max-width:190px;
    outline: none;
    padding:17px 17px;
    margin:7px;
}
.password-save__button{
    font-size: 20px;
    font-weight:600;
    color:#000;
    text-align:center;
    max-width:253px;
    margin-top:65px;
    padding:15px 0;
}
.purchase-history__unit{
    margin-bottom:20px;
    border-bottom:1px solid #30302F;
}
.purchase-history__unit__description{
    display:flex;
}
.purchase-history__unit__description__text{
    display:flex;
    flex-direction:column;
    Width:727px;
    margin:0 0 0 27px;
}
.purchase-history__unit__description__text h2{
    font-weight:600;
    font-size:40px;
    margin:6px 0 18px 0;
    line-height:45px;
}
.purchase-history__unit__description__text h5{
    font-weight:400;
    font-size:18px;
    color:#474747;
    margin:6px 0 14px 0;
}
.purchase-history__unit__description__text p{
    font-weight:400;
    font-size:20px;
    margin:0;
}
.purchase-history__unit__information{
    display:flex;
}
.purchase-history__unit__information__headlines,.purchase-history__unit__information__numbers{
    margin:43px 0 30px 0;
    font-weight: 400;
    font-size:25px;
}
.purchase-history__unit__information__headlines{
    margin:43px 65px 30px 0;
}
.purchase-history__unit__information__headlines p,.purchase-history__unit__information__numbers p{
    margin:5px 0;
}
.purchase-history__unit__information__numbers{
    font-weight: 600;
    font-size:25px;
}
.purchase-history__unit__button{
    width:339px;
    padding:12px 0;
    text-align:center;
    font-size:20px;
    font-weight:600;
    margin-bottom:30px;
}

.referral-system__you-save,.referral-system__information,.referral-system__bonus-code,.referral-system__your-code,.referral-system__referrals{
    display:flex;
}
.referral-system__information{
    flex-direction: row-reverse;
    justify-content:space-between;
}
.referral-system__you-save p{
    font-size:25px;
    font-weight:600;
    margin:0;
}
.referral-system__you-save span{
    color: #D7669D;
    margin:0 5px 0 0;
}
.referral-system__your-code{
    margin:20px 0;
}

.referral-system__bonus-code p,.referral-system__your-code p,.referral-system__referrals p{
    margin:10px 40px 10px 0;
    font-size: 20px;
    font-weight:600;
    color:#fff;
}
.referral-system__bonus-code input{
    background:none;
    outline: none;
    border: 1px solid #CDC8D1;
    box-sizing: border-box;
    border-radius: 100px;
    font-size:15px;
    color:#fff;
    padding:12px 16px;
}
.referral-system__bonus-code input::placeholder{
    font-size:15px;
    color:#929090;
}
.referral-system__your-code p:nth-child(2){
    font-size:15px;
    color:#929090;
    font-weight:400;
    margin:12px 0 12px 17px;
}
.referral-system__referrals p:nth-child(2){
    color:#929090;
    margin:10px 0 10px 35px;
}
.referral-system__referrals span{
    color:#fff;
}
.referral-system__quantity__range{
    width:932px;
    margin: 80px 20px 20px 12px;
}
.referral-system__quantity__range{
    position:relative;
}
.referral-system__quantity__range .rs-pointer{
    display:none;
}
.referral-system__quantity__range .rs-pointer::after{
    display:none;
}
.referral-system__quantity__range .rs-pointer::before{
    width:8px !important;
    height: 8px !important;
    border-radius:100px !important;
    background-color:#FFFFFF !important;
    z-index:8 !important;
    top:10px !important;
    left:9px !important;
}
.referral-system__quantity__range .rs-bg{
    background-color: #343435 !important;
    border:none !important;
    height: 6px !important;
    left: 0;
    position: absolute;
    top: -10px;
    width: 100%;
    border-radius: 0 !important;
}
.referral-system__quantity__range  .rs-container .rs-selected {
    background-color: #D7669D !important;
    border: none !important;
    transition: all .2s linear;
    height: 6px !important;
    width: 0;
    position: absolute;
    border-radius:0;
    top:-10px;
}
.rs-container .rs-scale span::before{
    background-color: #575757 !important;
}
.rs-tooltip{
    display:none;
}
.referral-system__quantity__range span{
    margin:20px 0 0 0;
}
.referral-system__quantity__range ins{
    margin:0 217px 0 0;
    font-size:15px;
    font-weight:400;
    color:#D7669D;
    text-decoration:none;
    cursor:pointer;
}
.referral-system__description{
    margin:80px 0;
}
.referral-system__description h4{
    font-size:30px;
    font-weight:900;
}
.referral-system__description p{
    font-size:18px;
    font-weight:600;
}