.body__white-theme .button-transparent{
    border:1px solid #86C9D1;
    background: #fff;
    color:#000;
    font-weight: 600;
}
.body__white-theme .button-transparent path{
    stroke:#000;
}
.body__white-theme .button{
    color:#fff;
}
.body__white-theme .button:hover{
    background: #fff;
    color:#000;
}
.body__white-theme .main-navbar__first-second__buttons path{
    stroke:#000;
}
.body__white-theme .search-result {
    border-bottom: 1px solid rgb(28, 26, 26);
}
.body__white-theme .search-result__unit h3,.body__white-theme .search-result__unit p{
    color:#000;
}
.body__white-theme .main-navbar{
    background-color:#F7F7F7;
}
.body__white-theme .product-description h2{
    color:#000 !important;
}
.body__white-theme .catalog-buttons__button{
    color:#707070;
    background:#fff;
    border:1px solid #EEEEF2
}
.body__white-theme .catalog-buttons__button:hover{
    background:#EEEEF2;
}
.body__white-theme .menu-item__dropdown{
    background: #FFFFFF;
    border: 1px solid #EEEEF2;
    color: #929090;
}
.body__white-theme .submenu{
    background:rgba(238, 238, 242, 0.95);
}
.body__white-theme .catalog-search__input input{
    background: #FFFFFF;
    border: 1px solid #EEEEF2;
    color: #929090;
}
.body__white-theme .catalog-description h2{
    color:#000 !important;
}
.body__white-theme .catalog__normal-theme{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}
.body__white-theme .sidebar__change-theme__button__dot{
    right:20px;
}
.body__white-theme .sidebar__services a{
    color:#000;
}
.body__white-theme .sidebar{
    background:#fff;
}

.body__white-theme .sidebar__services path{
    fill:#000;
}
.body__white-theme .sidebar__services,.body__white-theme .sidebar__logo_language {
    border-bottom: none
}
.body__white-theme .sidebar__logo{
    color:#000;
    font-weight:600;
}
.body__white-theme .active__language {
    background:#EEEEF2;;
}
.body__white-theme .sidebar__logo_language__us {
    border-right: 1px solid rgba(0, 0, 0, 0.15);;
}
.body__white-theme a,.body__white-theme .sidebar__menu p{
    color: #A8A7A7;
}
.body__white-theme .sidebar__menu path{
    stroke:#A8A7A7;
}
.body__white-theme .sidebar__change-theme p{
    color: #8c8888;
}
.body__white-theme a,.body__white-theme .product-quantity__additional-options h3,.body__white-theme .product-quantity__additional-options__weekly span,.body__white-theme .product-quantity__additional-options__weekly__coast{
    color:#000;
}
.body__white-theme .dropdown-content{
    background-color: rgb(255 255 255 / 98%);
}
.body__white-theme .dropdown-content a{
    color:#898989;
}
.body__white-theme .game__slider__slide p,.body__white-theme .dropdown-content a:hover{
    color:#fff;
}
.body__white-theme .dropdown-button path{
    stroke:#000;
}
.body__white-theme .dropdown-content__search input{
    background: #fff;
    color:#5F5F5F;
}
.body__white-theme .main-navbar__first-child__rating__text p:nth-child(1){
    color:#000;
    font-weight:400;
}
.body__white-theme .main-navbar__first-child__rating__text p:nth-child(2){
    color:#919090;
    font-weight:600;
}
.body__white-theme .expand__sidebar{
    background:#fff;
    border: 2px solid #C4C3C3;
}
.body__white-theme .expand__sidebar path{
    stroke:#C4C3C3;
}
.body__white-theme{
    background-color:#F2F1F2;
}
.body__white-theme .product-customization__platform__unit{
    background: #EEEEF2;
}
.body__white-theme .product-customization__platform__unit__price p,.body__white-theme .product-customization__platform__unit__button span,.body__white-theme .product-quantity__consider p,.body__white-theme .product-quantity__consider input,.body__white-theme .product-quantity__coast p,.body__white-theme .product-quantity__coast label,.body__white-theme .product-quantity__coast__value input,.body__white-theme .product-quantity__button,.body__white-theme .product-information__title h2,.body__white-theme .product-information__title p,.body__white-theme .product-information__text li,.body__white-theme  .shopping-cart__description h2,.body__white-theme .product-card__text__description p,.body__white-theme .radio-text,.body__white-theme .checkbox-text,.body__white-theme .shopping-cart__basket-units__one__first span,.body__white-theme .shopping-cart__basket-units__one__second span,.body__white-theme .product-quantity__consider__element input,.body__white-theme .shopping-cart__basket__forms__chat p,.body__white-theme .shopping-cart__basket__forms__promo-code p,.body__white-theme .profile-menu,.body__white-theme .personal-information__personal-data__headlines p,.body__white-theme .purchase-history__unit,.body__white-theme .referral-system {
    color:#000;
}
.body__white-theme .product-quantity__consider__element{
    background:#EEEEF2;
}
.body__white-theme .prev__arrow,.body__white-theme .next__arrow{
    border: 1px solid #000;
}
.body__white-theme .prev__arrow:hover,.body__white-theme .next__arrow:hover{
    border: 1px solid #000;
    fill:#000;
    background:none !important;
}
.body__white-theme .next__arrow:hover{
    background:#fff;
}
.body__white-theme .product-quantity__consider__element{
    background: none;
}
.body__white-theme .shopping-cart__basket__forms__chat,.body__white-theme .shopping-cart__basket__forms__promo-code{
    background: #fff;
    border: none;
}
.body__white-theme .shopping-cart__basket__forms__chat__logo path{
    fill:#000;
}
.body__white-theme .shopping-cart__basket__payment{
    background: #fff;
    border: 1px solid #fff;
}
.body__white-theme .shopping-cart__basket__payment__button label{
    background: #fff;
    border: 1px solid #000;
}
.body__white-theme .success-login path,.body__white-theme .success-email path,.body__white-theme .success-phone path,.body__white-theme .success-telegram path,.body__white-theme .success-discord path{
    stroke:#000;
}
.body__white-theme .personal-information__change-password__form input{
    border: 1px solid #000;
    color:#000;
}
.body__white-theme .why-we__block__unit__title h5,.body__white-theme .section__description h2,.body__white-theme .main-info__description h4,.body__white-theme .main-info__logo h1,.body__white-theme .referral-system__bonus-code p,.body__white-theme .referral-system__your-code p,.body__white-theme .referral-system__referrals p {
    color: #000;
}
.body__white-theme .referral-system__referrals span{
    color:#D7669D;
}
.body__white-theme .product-customization__quantity__range .rs-pointer::after,.body__white-theme .product-customization__quantity__range .rs-container .rs-selected,.body__white-theme .product-customization__quantity__range .rs-pointer{
    background-color: #00b8ff !important;
}
.body__white-theme .sidebar__services a:hover p,.body__white-theme .catalog-cards__hot .catalog-cards__unit__description__information a,.body__white-theme .catalog-cards__discount .catalog-cards__unit__description__information a,.body__white-theme .catalog-cards__normal .catalog-cards__unit__description__information a,.body__white-theme .product-quantity__additional-options__weekly__coast span,.shopping-cart__basket__forms__white-theme .shopping-cart__basket-total__amount p:nth-child(4),.body__white-theme .shopping-cart__basket-description p,.profile__white-theme .change-password p,.profile__white-theme .persona-information__main__full-name h4,.product-footer__slider__white-theme .catalog-cards__unit__description__information__button,.product-customization__quantity__white-theme p,.product-quantity__white-theme .product-quantity__select span,.product-quantity__white-theme .product-quantity__additional-options__weekly__coast span,.product-card__text__white-theme .product-card__text__options__unit__first p,.product-card__text__white-theme .product-card__text__options__unit__second p,.product-customization__platform__white-theme .product-customization__platform__unit__activator,.product-customization__platform__white-theme .product-customization__quantity p{
    color:#00b8ff;
}
.body__white-theme .sidebar__services a:hover path,.body__white-theme.persona-information__main__image circle{
    fill:#00b8ff;
}
.body__white-theme .persona-information__main__full-name path,.body__white-theme .personal-information__personal-data__units path{
    stroke:#00b8ff;
}
.body__white-theme .product__region__language__us:hover,.body__white-theme .product__region__language__eu:hover,.body__white-theme .sidebar__logo_language__us:hover,.body__white-theme .sidebar__logo_language__eu:hover,.body__white-theme .prdctradio::before,.product-card__text__white-theme .stlradio:before{
    background:#00b8ff;
}
.body__white-theme .profile-menu__active{
    border-bottom: 2px solid #00b8ff;
    color:#00b8ff;
}
.body__white-theme .profile-menu__personal:hover, .body__white-theme .profile-menu__purchase-history:hover{
    border-bottom: 2px solid #00b8ff;
    color:#00b8ff;
}
.body__white-theme .button,.body__white-theme .button-transparent{
    background:#00b8ff;
}
.body__white-theme .button-dashed{
    border-bottom:2px dashed #00b8ff;
}
.body__white-theme .main-info__scroll-button a{
    background-color: #00b8ff !important;
    border: 2px solid #00b8ff !important;
}
.body__white-theme .main-info__scroll-button a:hover {
    background: none !important;
    color: #00b8ff !important;
}
.body__white-theme .main-info__scroll-button:hover #styled-element{
    stroke: #000;
}
.body__white-theme .button:hover,.body__white-theme .button-transparent:hover{
    background:none;
}
.body__white-theme .welcome__text__block h5,.body__white-theme .product-quantity__additional-options__weekly__coast p,.body__white-theme .shopping-cart__basket-units__one__total,.product-quantity__white-theme .product-quantity__select input,.product-quantity__white-theme .product-quantity__select input::placeholder,.referral-system__information__white-theme .referral-system__bonus-code input{
    color:#000;
}
.body__white-theme .product-quantity__select input{
    border:1px solid #000;
}
.body__white-theme .product__region_language p{
    color:#000;
    font-weight:400;
}
.body__white-theme .product__region__active__language{
    background:#c0c0c3;
}
.body__white-theme .main-info__background{
    background:rgb(140 150 155 / 78%);
}
.body__white-theme .main-info__background__picture{
    background-image:linear-gradient(rgba(171, 180, 186, 0.78), rgba(171, 180, 186, 0.78)),url('../img/buy-bust.png');
    box-shadow: inset 81px 0 80px 0 rgba(171, 180, 186, 0.78);
}
.body__white-theme .why-we__block__unit p,.body__white-theme .welcome__text__block p{
    color: #7d7d7d;
}
@media (max-width:768px){
    .navbar-burger__white-theme{
        background:#000;
    }
    .navbar-burger__white-theme::before{
        background:#000;
    }
    .navbar-burger__white-theme::after{
        background:#000;
    }
    .body__white-theme .dropdown-button-mini path{
        stroke:#000;
    }
}
